.sideBar ul li{
    list-style-type: none;
    padding: 10px;
    padding-left: 40px;
    color: black;
    padding-right: 40px;
}

.sideBar ul li a{
    text-decoration: none ;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #212529;
}
.sideBar{
    width: 100%;
    display: flex;
    justify-content: center;
    
    position: sticky;
    top: 9em;
  
    font-size: 1.5em;
}
.sideBar ul li a p{
    margin-bottom: 0px;
    color: #F8F8FF;
}
.sideBar li:hover {
    background-color: #6FBC94; 
    color: #F8F8FF;
  }
  
  .sideBar a:hover {
    color: blue; 
  }

  .dashboard-icon {
    color: #6FBC94;
  }

  .sideBar li:hover .dashboard-icon {
    color: #F8F8FF;
  }