.Events{
    text-align: center;
    background-image: url(../../images/pexels-tyler-lastovich-590179.jpg);
    color: #4d63b2;
    height: 92vh;
    position: relative;
    width: 100%;
}
.event-button-create{
    margin-top: 0px;
}

.react-datepicker__input-container input{
    padding: 0.5em;
    border-radius: 10px;
}

.add-event-button {
    position: fixed;
    bottom: 60px; /* Adjust this value to control the vertical position */
    right: 60px; /* Adjust this value to control the horizontal position */
    padding: 10px 20px; /* Add padding for better visibility */
  }

.event-edit-delete{
    display: flex;
    gap: 20px;
}

.event-details-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }
  
  .event-details-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
  }
  
  .close-btn-event {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  